!!!DOCTYPE=html5
mixin checkbox
    div(attributes)
        div.outer
            div.inner
            div.inner2
            div.inner3
            div.inner4

html
    head
        link(rel="stylesheet", type="text/css", href="style.css")
    body
        +checkbox().checkmark
        +checkbox().checkmark.check-green
        +checkbox().checkmark.check-red