.outer {
  width: 100px;
  height: 100px;
  background-color: white;
  position: relative;
  overflow: hidden;
}
.style2 {
  width: 17px;
  height: 17px;
}
.inner {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: green;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  bottom: 25%;
}
.inner2 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  bottom: 50%;
}
.inner3 {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 50%;
  right: 27%;
  background-color: white;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.inner4 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: -50%;
  right: -75%;
  background-color: white;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
