.checkmark .outer {
  width: 25px;
  height: 25px;
  background-color: white;
  position: relative;
  overflow: hidden;
}
.checkmark .inner {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  bottom: 25%;
}
.checkmark .inner2 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  bottom: 50%;
}
.checkmark .inner3 {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 50%;
  right: 27%;
  background-color: white;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.checkmark .inner4 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: -50%;
  right: -75%;
  background-color: white;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.check-green .outer {
  width: 100px;
  height: 100px;
}
.check-green .inner {
  background-color: #008000;
}
.check-red .outer {
  width: 25px;
  height: 25px;
}
.check-red .inner {
  background-color: #ff0000;
}
